<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>tic-tac-toe</title>

  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="../../polymer-test-tools/tools.html">
  <script src="../../polymer-test-tools/htmltest.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../tic-tac-toe.html">

</head>
<body>

  <tic-tac-toe></tic-tac-toe>

  <script>

    document.addEventListener('polymer-ready', function() {
      var ticTacToe = document.querySelector('tic-tac-toe');
      ticTacToe.toggleNextMove();
      assert.equal(ticTacToe.currentmove, 'O');
      done();
    });

  </script>

</body>
</html>
